<div class="container">
  <table class="table table-striped table-responsive-md btn-table" border="1">
    <thead>
    <title>Books</title>
    <tr>
      <th scope = "col">Title</th>
      <th scope="col" colspan="4">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of allBooks">
      <td>{{book.title}}</td>
      <td><button class="btn-primary" (click)="displayBook(book.id)">Display</button></td>
      <td><button class="btn-secondary" (click)="reviewBook(book.id)">Add a Review</button></td>
      <td><button class="btn-danger" (click)="lendBook(book.id)">Lend</button></td>
    </tr>
    </tbody>
  </table>
</div>
